{% if site.data.site.lang == null or site.data.site.lang == "" %}
{% assign lang = site.data.lang.en-US %}
{% else %}
{% assign lang = site.data.lang[site.data.site.lang] %}
{% endif %}
<script>
    $(function () {
        if ($('script[src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"]').length === 0) {
            (function (d, s) {
                var j, e = d.getElementsByTagName(s)[0];

                if (typeof LivereTower === 'function') {
                    return;
                }

                j = d.createElement(s);
                j.src = '//cdn1.lncld.net/static/js/3.0.4/av-min.js';


                e.parentNode.insertBefore(j, e);
            })(document, 'script');
        }
    })
</script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<div style="padding:0px 16px;" class="comment"></div>
<script>
    setTimeout(function () {
        new Valine({
            el: '.comment',
            notify: {
                {
                    site.data.site.comment.valine_notify
                }
            },
            verify: {
                {
                    site.data.site.comment.valine_verify
                }
            },
            app_id: '{{site.data.site.comment.valine_app_id}}',
            app_key: '{{site.data.site.comment.valine_app_key}}',
            placeholder: '{{site.data.site.comment.valine_placeholder}}'

            // 这里设置CDN, 默认微博表情CDN
            emojiCDN: 'http://static.coolapk.com/emoticons/v9/',
            // 表情title和图片映射
            emojiMaps: {
                "哈哈哈": "coolapk_emotion_1_hahaha.png",
                "惊讶": "coolapk_emotion_2_jingya.png",
                "呲牙": "coolapk_emotion_3_ciya.png",
                "流泪": "coolapk_emotion_4_liulei.png",
                "可爱": "coolapk_emotion_5_keai.png",
                "微笑": "coolapk_emotion_6_weixiao.png",
                "呵呵": "coolapk_emotion_7_hehe.png",
                "撇嘴": "coolapk_emotion_8_piezui.png",
                "色": "coolapk_emotion_9_se.png",
                "傲慢": "coolapk_emotion_10_aoman.png",
                "疑问": "coolapk_emotion_11_yiwen.png",
                "无语": "coolapk_emotion_12_wuyu.png",
                "坏笑": "coolapk_emotion_13_huaixiao.png",
                "鄙视": "coolapk_emotion_14_bishi.png",
                "发怒": "coolapk_emotion_15_fanu.png",
                "爆怒": "coolapk_emotion_104_baonu.png",
                "托腮": "coolapk_emotion_16_tuosai.png",
                "吐舌": "coolapk_emotion_17_tushe.png",
                "汗": "coolapk_emotion_18_han.png",
                "抠鼻": "coolapk_emotion_19_koubi.png",
                "亲亲": "coolapk_emotion_20_qinqin.png",
                "喷血": "coolapk_emotion_21_penxue.png",
                "笑眼": "coolapk_emotion_22_xiaoyan.png",
                "睡": "coolapk_emotion_23_shui.png",
                "捂嘴笑": "coolapk_emotion_24_wuzuixiao.png",
                "再见": "coolapk_emotion_25_zaijian.png",
                "可怜": "coolapk_emotion_26_kelian.png",
                "笑哭": "coolapk_emotion_31_xiaoku.png",
                "强": "coolapk_emotion_27_qiang.png",
                "弱": "coolapk_emotion_28_ruo.png",
                "抱拳": "coolapk_emotion_29_baoquan.png",
                "ok": "coolapk_emotion_30_ok.png",
                "嘿哈": "coolapk_emotion_32_heiha.png",
                "捂脸": "coolapk_emotion_33_wulian.png",
                "机智": "coolapk_emotion_34_jizhi.png",
                "耶": "coolapk_emotion_35_ye.png",
                "我最美": "coolapk_emotion_38_wozuimei.png",
                "酷": "coolapk_emotion_36_ku.png",
                "黑线": "coolapk_emotion_43_heixian.png",
                "喷": "coolapk_emotion_44_pen.png",
                "阴险": "coolapk_emotion_45_yinxian.png",
                "难过": "coolapk_emotion_46_nanguo.png",
                "委屈": "coolapk_emotion_47_weiqu.png",
                "吃瓜": "coolapk_emotion_51_chigua.png",
                "喝酒": "coolapk_emotion_52_hejiu.png",
                "噗": "coolapk_emotion_53_pu.png",
                "微微一笑": "coolapk_emotion_48_weiweiyixiao.png",
                "欢呼": "coolapk_emotion_49_huanhu.png",
                "白眼": "coolapk_emotion_84_baiyan.png",
                "耐克嘴": "coolapk_emotion_81_naikezui.png",
                "t耐克嘴": "coolapk_emotion_105_tnaikezui.png",
                "害羞": "coolapk_emotion_97_haixiu.png",
                "无奈": "coolapk_emotion_98_wunai.png",
                "皱眉": "coolapk_emotion_99_zhoumei.png",
                "qqdoge": "coolapk_emotion_100_qqdoge.png",
                "发呆": "coolapk_emotion_102_fadai.png",
                "舒服": "coolapk_emotion_106_shufu.png",
                "懒得理": "coolapk_emotion_107_landeli.png",
                "不开心": "coolapk_emotion_108_bukaixin.png",
                "挑眉坏笑": "coolapk_emotion_109_tiaomeihuaixiao.png",
                "害怕": "coolapk_emotion_1010_haipa.png",
                "哼唧": "coolapk_emotion_1011_hengji.png",
                "挨打": "coolapk_emotion_1012_aida.png",
                "假笑": "coolapk_emotion_1014_jiaxiao.png",
                "偷看": "coolapk_emotion_1015.png",
                "喝茶": "coolapk_emotion_1016_hecha.png",
                "哦吼吼": "coolapk_emotion_1017_houhouhou.png",
                "掩面笑": "coolapk_emotion_1018_yanmianxiao.png",
                "表面哭泣": "coolapk_emotion_1019_biaomiankuqi.png",
                "表面开心": "coolapk_emotion_1020_biaomiankaixin.png",
                "滑稽": "coolapk_emotion_62_huaji.png",
                "流汗滑稽": "coolapk_emotion_63_liuhanhuaji.png",
                "受虐滑稽": "coolapk_emotion_64_shounuehuaji.png",
                "cos滑稽": "coolapk_emotion_65_coshuaji.png",
                "斗鸡眼滑稽": "coolapk_emotion_66_doujiyanhuaji.png",
                "墨镜滑稽": "coolapk_emotion_67_mojinghuaji.png",
                "小嘴滑稽": "coolapk_emotion_1013_xiaozuihuaji.png",
                "doge": "coolapk_emotion_37_doge.png",
                "doge笑哭": "coolapk_emotion_56_dogexiaoku.png",
                "doge呵斥": "coolapk_emotion_57_dogehechi.png",
                "doge原谅ta": "coolapk_emotion_58_dogeyuanliangta.png",
                "喵喵": "coolapk_emotion_82_miaomiao.png",
                "二哈": "coolapk_emotion_59_erha.png",
                "二哈盯": "coolapk_emotion_95_erhading.png",
                "爱心": "coolapk_emotion_40_aixin.png",
                "心碎": "coolapk_emotion_50_xinsui.png",
                "玫瑰": "coolapk_emotion_41_meigui.png",
                "凋谢": "coolapk_emotion_42_diaoxie.png",
                "菜刀": "coolapk_emotion_39_caidao.png",
                "牛啤": "coolapk_emotion_103_nb.png",
                "py交易": "coolapk_emotion_101_pyjiaoyi.png",
                "绿药丸": "coolapk_emotion_55_lvyaowan.png",
                "红药丸": "coolapk_emotion_54_hongyaowan.png",
                "酷安": "coolapk_emotion_60_kuan.png",
                "酷安钓鱼": "coolapk_emotion_1021_kuandiaoyu.png",
                "绿帽": "coolapk_emotion_61_lvmao.png",
                "酷安绿帽": "coolapk_emotion_96_kuanlvmao.png",
                "火把": "coolapk_emotion_83_huoba.png",
            }
        });
    }, 1000)
</script>